    <!DOCTYPE html>
    <html>

    <head>

    <title>MedIntel AI Register</title>

    <link rel="stylesheet" href="/static/css/style.css">

    </head>


    <body class="auth-body">


    <div class="login-wrapper">


    <div class="login-card-new">


    <h1>
    🩺 MedIntel AI
    </h1>


    <h2>
    Create Account
    </h2>


    <input
    type="text"
    id="username"
    placeholder="Username"
    >


    <input
    type="password"
    id="password"
    placeholder="Password"
    >


    <button id="registerBtn">
    SIGN UP
    </button>


    <p id="message"></p>


    <div class="signup-text">

    Already have an account?

    <a href="/">
    Login

    </a>

    </div>


    </div>


    </div>


    <script src="/static/js/register.js"></script>


    </body>

    </html>